@media screen and (max-width: 1366px) {
    .healthsapp-caption-inner {
        padding: 18px 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}

@media screen and (min-width: 1280px) {
    .healthsapp-name {
        font-size: 22px;
    }
    .store-action-wrap a {
        width: 25px;
        height: 25px;
        background-size: 85%;
    }
    .feature-col {
        min-height: 175px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .top-banner-sec {
        padding: 20px 0 0;
    }
    .top-banner-sec .banner-caption {
        width: 100%;
    }
    .top-banner-sec .banner-caption h1 .tp-ban-head {
        font-size: 50px;
    }
    .top-banner-sec .banner-caption h1 .tp-ban-head1 {
        font-size: 80px;
    }
    .top-banner-sec .banner-caption h1 .tp-ban-head2 {
        font-size: 50px;
    }
    .top-banner-sec .tp-bann-img {
        display: table;
        float: none;
        margin: 0 auto;
        padding: 25px 0 0;
    }
    .top-banner-sec .banner-caption p {
        font-size: 18px;
    }
    .sec-data-inner {
        padding: 45px 0 0;
    }
    .secTitle h3 {
        font-size: 40px;
    }
    .appanlytics-wrap {
        margin: 25px auto;
    }
    .analy-nums {
        font-size: 50px;
        margin: 0 0 10px;
    }
    .analy-of {
        font-size: 18px;
    }
    .sec-data2 .sec-data-desc p {
        font-size: 18px;
    }
    .secH770 {
        height: auto !important;
    }
    .sec-data-desc {
        padding: 0 0 25px;
    }
    .sec-data3-title h3 {
        font-size: 38px;
    }
    .sec-data3-subtitle p {
        font-size: 16px;
    }
    .sec3mob1,
    .sec3mob2 {
        display: none;
    }
    .sec-data-feature-wrap {
        padding: 35px 0 0;
        width: 100%;
    }
    .feature-col {
        min-height: 150px;
    }
    .feature-col p {
        font-size: 14px;
    }
    .feature-col h4 {
        font-size: 20px;
    }
    .single-app-info-logo {
        margin: 0 auto 10px;
        max-width: 260px;
    }
    .single-app-info-desc {
        margin: 0 0 25px;
    }
    .single-app-info-desc p {
        font-size: 16px;
    }
    .single-app-info-store-action a:not(:last-child) {
        margin: 0 25px 0 0;
    }
    .single-app-info-store-action a>img {
        width: 124px;
    }
    .single-app-img-wrap {
        display: table;
        margin: 0 auto;
        padding: 30px 0 0;
    }
    .single-app-info-sec-wrap {
        text-align: center;
    }
    .sec-data4-inner {
        padding: 35px 0 0;
    }
    .sec-data3-title {
        text-align: center;
    }
    .sec-data3-subtitle {
        text-align: center;
    }
    .healthsapp-thumb {
        height: 175px;
    }
    .healthsapp-name {
        font-size: 20px;
    }
    .healthsapp-caption-inner {
        padding: 15px 10px;
    }
    .store-action-wrap a.app-ico:not(:last-child) {
        margin-right: 15px;
    }
    .store-action-wrap a {
        background-size: 80% auto;
        height: 25px;
        width: 25px;
    }
    .store-action-wrap a.app-ico:not(:last-child)::after {
        height: 18px;
        right: -9px;
    }
    .sec-data6-inner {
        padding: 20px 0;
    }
    .testimonial-text-section {
        width: 100%;
    }
    .testimonial-grid-section {
        width: 100%;
    }
    .testimonial-sec-wrap-inner {
        width: 690px;
    }
    .grid-col>img {
        width: 100%;
    }
    .testimonial-text-section-inner {
        padding: 25px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .trigger-menu {
        display: block;
        float: left;
        padding: 13px 10px;
    }
    .trigger-menu span {
        display: block;
        width: 25px;
        height: 3px;
        background: #636363;
        margin: 0 0 4px 0;
        border-radius: 5px;
    }
    .social-network-list li a {
        font-size: 24px;
        padding: 6px 12px;
    }
    .branding {
        padding: 15px 10px;
    }
    nav.navigation {
        position: absolute;
        display: none;
    }
    .wrapper {
        padding: 47px 0 0 0;
        position: relative;
    }
    .top-banner-sec {
        padding-top: 30px;
    }
    .top-banner-sec .banner-caption {
        width: 100%;
        padding: 0;
    }
    .top-banner-sec .banner-caption h1 .tp-ban-head {
        font-size: 34px;
    }
    .top-banner-sec .banner-caption h1 .tp-ban-head1 {
        font-size: 64px;
    }
    .top-banner-sec .banner-caption h1 .tp-ban-head2 {
        font-size: 34px;
    }
    .top-banner-sec .banner-caption p {
        font-size: 16px;
    }
    img.tp-img1 {
        display: none;
    }
    .top-banner-sec .tp-bann-img {
        padding: 10px 0 0 0;
    }
    .sec-data-inner {
        padding: 30px 0 0 0;
    }
    .secTitle h3 {
        font-size: 34px;
    }
    .appanlytics-wrap {
        margin: 25px auto;
    }
    .appanlytics-wrap ul li:not(:last-child) {
        margin-right: 25px;
    }
    .analy-nums {
        font-size: 40px;
        margin: 0 0 10px 0;
    }
    .analy-of {
        font-size: 18px;
    }
    .sec-data2 .sec-data-desc p {
        font-size: 16px;
    }
    .secH770 {
        height: auto !important;
    }
    .sec-data3-inner {
        padding: 30px 0 0 0;
    }
    .sec-data3-title h3 {
        font-size: 34px;
    }
    .sec-data3-subtitle p {
        font-size: 16px;
    }
    .sec-data-feature-wrap {
        padding: 35px 0 0 0;
        width: 100%;
    }
    .feature-col {
        width: 100%;
        margin: 0 0 5% 0;
        padding: 0;
        min-height: auto;
    }
    .feature-col h4 {
        font-size: 20px;
    }
    .feature-col p {
        font-size: 14px;
    }
    .sec3mob1,
    .sec3mob2 {
        display: none;
    }
    .single-app-info-logo {
        max-width: 220px;
        margin: 0 0 25px 0;
    }
    .sec-data4-inner {
        padding: 40px 0 0 0;
    }
    .single-app-info-desc p {
        font-size: 16px;
    }
    .single-app-info-store-action a {
        float: left;
        width: 120px;
    }
    .single-app-info-store-action a>img {
        width: 120px;
    }
    .single-app-info-store-action a:not(:last-child) {
        margin: 0 15px 0 0;
    }
    .single-app-img-wrap img {
        position: relative;
        left: auto;
        width: 280px;
        margin: 25px auto 0 auto;
        display: table;
    }
    .single-app-img-wrap {
        padding: 0;
    }
    .testimonial-text-section {
        width: 100%;
    }
    .testimonial-grid-section {
        width: 100%;
    }
    .grid-col>img {
        width: 100%;
    }
    .news-item-l25 {
        width: 47%;
        height: 180px;
        margin: 0 20px 20px 0;
    }
    .news-item-l50 {
        width: 100%;
        height: 265px;
        margin: 0 0 20px 0;
    }
    .news-carousal-item.thumbs:nth-child(2n+1) {
        margin: 0 0 20px 0;
    }
    .sec-data7 {
        padding: 50px 0;
    }
    .news-item-caption-inner {
        padding: 10px;
    }
    .newsItem-heading {
        font-size: 16px;
        margin: 0 0 6px 0;
    }
    .newsItem-desc {
        font-size: 12px;
        margin: 0 0 5px 0;
    }
    .newsItem-timing {
        font-size: 11px;
    }
    .news-item-l25 .news-item-caption-inner {
        padding: 10px;
    }
    .footer-top-title h3 {
        margin: 0 0 20px 0;
        font-size: 21px;
    }
    .footer-top-inner {
        padding: 40px 0 40px 0;
    }
    .footer-theme-action {
        font-size: 14px;
        padding: 15px 20px;
        border-radius: 45px;
    }
    .footer-col-wrap {
        padding: 35px 0 0 0;
    }
    .footer-col-title {
        margin: 0 0 15px 0;
    }
    .footer-col-title>h3 {
        font-size: 14px;
    }
    .footer-col-nav li>a {
        font-size: 12px;
    }
    .footer-col-nav>ul>li {
        margin: 0 0 10px 0;
    }
    .footer-col.for-form {
        margin: 15px 0 0 0;
    }
    .footer-inpur-wrap input.form-control,
    .footer-inpur-wrap textarea.form-control {
        height: 40px;
        font-size: 12px;
    }
    .btn.btn-contact {
        font-size: 14px;
        padding: 8px 30px;
        border-radius: 35px;
    }
    .footer-bottom-inner {
        padding: 20px 0;
    }
    .footer-bottom-text {
        font-size: 12px;
    }
    .healthsapp-caption-inner {
        padding: 10px;
    }
    .healthsapp-name {
        font-size: 20px;
    }
    .store-action-wrap a.app-ico:not(:last-child):after {
        height: 17px;
        right: -7px;
    }
    .store-action-wrap a {
        width: 20px;
        height: 20px;
        background-size: 88%;
    }
    .healthsapp-thumb {
        height: 170px;
    }
    .testimonial-text-section-inner {
        padding: 20px;
    }
    span.test-ico>img {
        width: 25px;
    }
    .testimonial-type {
        padding: 20px 0 10px 0;
    }
    .testType-name {
        font-size: 20px;
    }
    .testBy {
        font-size: 34px;
        margin: 15px 0;
    }
    .testimonial-author {
        margin: 15px 0;
    }
    .testAuthor {
        font-size: 18px;
    }
    .testimonial-author-profile {
        margin: 0 0 0px 0;
    }
    .contact-modal-form-inner div[class*="col-"]:first-child {
        padding: 0 15px 0 15px;
    }
    .contact-modal-form-inner div[class*="col-"]:last-child {
        padding: 0 15px 0 15px;
    }
    .cal-icon {
        display: none;
    }
    .contact-modal-title h3 {
        font-size: 28px;
    }
}

@media screen and (max-width: 320px) {}